<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>1095098671184689</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1095098671184689</string>
	<key>FacebookClientToken</key>
	<string>e2c47d53ed738437c92af21d38262256</string>
	<key>FacebookDisplayName</key>
	<string>MessageMate</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>keychain-access-groups</key>
	<array/>
</dict>
</plist>
